.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .background {
    width: 100%;
    position: absolute;
    height: 100vh;
  }

  .background img {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef95;
    width: 65vh;
    z-index: 1;
  }

  .container input {
    width: 90%;
    height: 2rem;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 3px;
    padding: 0 24px;
  }

  .today {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-height: 30rem;
  }

  .today img {
    max-width: 15rem;
    margin-left: 10rem;
  }

  .content {
    margin-left: 4rem;
  }

  .after-today {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-height: 30rem;
  }

  .after-today img {
    max-width: 5rem;
    margin-left: 15rem;
    margin-top: 2rem;
  }